@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --primary-color: #202427;
  --primary-font: 'Poppins';
  --primary-font-color: white;
  --gap: 1rem;
  --icon-color: #b69b67;
}

body {
  background: var(--primary-color);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  height: 100%;
}

.main {
  width: clamp(100px, 60%, 80%);
  font-size: clamp(.5rem, 2rem, 3rem);
}

.shop-b {
  aspect-ratio: 2 / 1;
  width: 15rem;
  padding: 1.25rem;
  margin: 0 auto;
}

.shop-b:hover {
  color: gray;
  box-shadow:  25px 25px 78px #101213,
  -25px -25px 78px #363d42;
}


h3 > span {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

a:hover {
  border-bottom: 1px solid var(--icon-color);
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins';
}

.product-image {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: .5rem .5rem 0 0;
}

.wrap {
  background: linear-gradient(to bottom left, #1d2023, #22272a);
}

.h-a {
  height: auto;
}

.component-card {
  width: 100%;
  background: linear-gradient(to right bottom, #181a1d 25%, #24292c);
  position: relative;
  box-shadow: -1.5rem -1.5rem 2rem rgba(150 150 150/ 0.1),
    1.5rem 1.5rem 2rem rgba(0 0 0 / 0.2);
  transition: 0.5s ease all;
  overflow: hidden;
}


.component-card:hover {
  box-shadow: -1.5rem -1.5rem 4rem rgba(150 150 150/ 0.1),
    1.5rem 1.5rem 4rem rgba(0 0 0 / 0.2);
  transform: translateY(-4px);
}

.product-grid-layout {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 1fr 0.70fr;
  place-items: center;
  width: 80%;
}

.product-grid-layout img {
  width: clamp(320px, 80%, 700px);
  align-self: center;
}

.product-grid-layout button{
  width: clamp(200px, 100%, 400px);
  transition: .4s cubic-bezier(0.68, -0.55, 0.27, 1.55) transform;
  padding: 2rem;
  font-size: large;
}

.product-grid-layout button:hover {
  transform: scale(1.1);
}

.component-view-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.description {
  width: clamp(50%, 80%, 100%);
}

.details {
  grid-row: span 2;
  justify-content:  space-around;
  align-self: start;
  height: 80%;
  width: clamp(50%, 80%, 100%);
}

.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 1.5rem;
  color: white;
  background: linear-gradient(to right, violet, coral);
  margin-top: 3rem;
}

.grid-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.nav-icon {
  display: none;
  z-index: 1000;
}


@media screen and (max-width: 1064px) {
  .product-grid-layout {
     grid-template-columns: 1fr;
     grid-template-rows: .6fr .8fr .4fr;
     gap: 2rem;
     width: 100%;
  }

  .nav-icon {
    display: block;
  }

  .details {
    grid-row: span 1;
  }


  .Nav {
    display: none;
  }

  /*
  .Nav {
    position: absolute;
    inset: 0 0 0 clamp(40%, 30%, 500px);
    height: 100%;
    background-color: rgba(0 0 0 / 0.2);
    backdrop-filter: blur(5em);
  }

  .Nav ul {
    flex-direction: column;
    height: 50%;
  }
  */
}


@media screen and (max-width: 1519px) {
  .details {
    height: 100%;
  }
}