@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --primary-color: #202427;
  --primary-font: 'Poppins';
  --primary-font-color: white;
  --gap: 1rem;
  --icon-color: #b69b67;
}

body {
  background: linear-gradient(to bottom left, #1d2023, #22272a);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  height: 100vh;
  padding: 2em;
}

.shop-b {
  aspect-ratio: 2 / 1;
  width: 15rem;
  padding: 1.25rem;
  margin: 0 auto;
}

h3 > span {
  font-size: 2em;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

a:hover {
  border-bottom: 1px solid var(--icon-color);
}

ul {
  list-style: none;
}

@media screen and (max-width: 1007px) {
  .w-1-4 {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .body {
    flex-direction: column;
  }
}



