.flex {
    display: flex;
    gap: var(--gap);
}

.items-centered {
    justify-content: center;
    align-items: center;
}

.justify-evenly {
    justify-content:space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.grid-align-end {
    justify-self: end;
    align-self: end;
}

.grid-align-start {
    justify-self: start;
    align-self: start;
  }

.w-full {
    width: 100%;
}

.w-4-6 {
    width: 80%;
}

.Head {
    --gap: clamp(1rem, 5vw, 10rem);
}

.gap-200 {
    --gap: clamp(2rem, 5vw, 10rem);
}

.gap-none {
    --gap: 1rem;
}

.p-200 {
    padding: 2rem;
}

.p-175 {
    padding: 1.1rem;
}

.m-200 {
    margin: 1rem 5rem 4rem 5rem;
}

.m-auto {
    margin: auto;
}

.fl {
    font-size: large;
}

.h-full {
    height: 100%;
}

.scale-50 {
    transform: scale(0.50);
}

.f-title {
    font-size: clamp(2rem, 2vw, 3rem);
}

.bold {
    font-weight: bold;
}

.t-c {
    text-align: center;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
    flex: 1;
}

.align-around {
    align-items: space-around;
}

.p-100 {
    padding: .5em;
}

.p-150 {
    padding: 1rem;
}

.justify-between {
    justify-content: space-between;
}

.w-1-5 {
    width: 20%;
}

.title {
    font-size: 2.5rem;
}

.sixteen-nine {
    aspect-ratio: 16 / 9;
}

.neuro-morphic-out {
    background: linear-gradient(145deg, #1d2023, #22272a);
    color: var(--icon-color);
    border-radius: 1em;
    box-shadow:  
    10px 10px 20px #171a1c,
    -10px -10px 20px #292e32;  
}

.neuro-morphic-in {
    color: var(--icon-color);
    border-radius: 1em;
    background: linear-gradient(145deg, #1c2022, #212529);
    box-shadow:  1.2rem 1.2rem 3rem #15181a,
            -1.2rem -1.2rem 3rem #2b3033;
    transition: ease .3s all;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--icon-color);
}

.no-underline {
    text-decoration: none;
}

.rounded-200 {
    border-radius: 1.5rem;
}

.color-white {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.m-100 {
    margin: 1em;
}

.grid {
    display: grid;
}

.place-center {
    place-items: center;
}

.overflow-none {
    overflow: none;
}

.m-y-2 {
    margin: 2rem 0;
}

.m-2 {
    margin: 2rem;
}

.prim-icon-color {
    color: var(--icon-color);
}

@media screen and (max-width: 1064px) {
    .w-1-4 {
        display: none;
    }
}